<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0Jx-KKdwfaCbhT75AogPN1_e0-AaSg28</string>
	<key>GCM_SENDER_ID</key>
	<string>1010672399407</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.envisionstudios.inventoryprototypevisionos</string>
	<key>PROJECT_ID</key>
	<string>inventoryprototypevisionos</string>
	<key>STORAGE_BUCKET</key>
	<string>inventoryprototypevisionos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1010672399407:ios:e10120e8fba39ae017c2da</string>
</dict>
</plist>